.skeleton {
    border: solid 1px #f1f1f1;
    border-radius: 10rpx;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #333;
}

.reload-btn {
    border: solid 1px blueviolet;
    color: blueviolet;
    width: 60px;
    height: 44px;
    line-height: 44px;
    border-radius: 10px;
}


.pt-4 {
    display: block;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex-l {
    display: flex;
    flex-direction: column;
}

.ml-3 {
    font-size: 16px;
    color: #333;
}

.border {
    border: solid 1px;
}

.border-blue-100 {
    border-color: #1478FF;
}

.rounded-md {
    border-radius: 10px;
}

.my-4 {
    padding: 20px 20px;
}

.items-start {
    justify-content: flex-start;
}

.w-10 {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.text-sm {
    font-size: 12px;
}

.mt-l {
    text-align: left;
}

.text-gray-600 {
    color: #666;
    font-weight: 600;
}