.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #0006;
    animation-duration: .4s;
    z-index: 1000
}

.animation-in {
    animation-name: show;
    animation-fill-mode: forwards;
}

.animation-out {
    animation-name: hide;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        background-color: #0000;
    }

    to {
        background-color: #000c;
    }
}

@keyframes hide {
    0% {
        background-color: #000c;
    }

    to {
        background-color: #0000;
    }
}